<div class="line-chart-widget">
    <div class="card-container">
        <div class="card">
            <h3 class="card-title">
                Covid-19 Metrics Comparison by Location
            </h3>
            <div class="btn-group d-flex flex-row flex-wrap pt-2 pb-1 mx-3">
                <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="localeDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedLocale}}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="localeDropdown">
                        <div *ngFor="let locale of localesAvailable">
                            <button class="dropdown-item" type="button" 
                            (click)="selectLocale(locale)">{{locale}}</button>
                        </div>
                    </div>
                </div>
                <div>
                    <p-multiSelect [options]="availableLocations" [(ngModel)]="selectedLocations" [dropdownIcon]="'pi pi-caret-down'"
                        (onPanelHide)="hidePanel()" [filter]="true" [defaultLabel]="'Select Locations'"
                        [maxSelectedLabels]="2" [virtualScroll]="true" [itemSize]="30"></p-multiSelect>
                </div>

                <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="windowDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedWindow | titlecase }}
                    </button> 
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="windowDropdown">
                        <div *ngFor="let window of windowsAvailable">
                            <button class="dropdown-item" type="button" 
                            (click)="selectWindow(window)">{{ window | titlecase }}</button>
                        </div>
                    </div>
                </div>
                <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="scaleDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedScale | titlecase }}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="scaleDropdown">
                        <div *ngFor="let scale of scaleOptions">
                            <button class="dropdown-item" type="button"
                                (click)="selectScale(scale)">{{ scale | titlecase }}</button>
                        </div>
                    </div>
                </div>
                <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="metricDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedMetric | titlecase }}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="metricDropdown">
                        <div *ngFor="let metric of availableMetrics; let i=index">
                            <button class="dropdown-item" type="button"
                                (click)="selectMetric(metric, i)">{{ metric | titlecase }}</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-secondary" type="button" id="reset-button" (click)="resetDefaults()">
                    Reset
                </button>
                <p *ngIf="!noChartData" class="card-text text-muted pt-1 mx-2">{{ chartDescriptionText }}</p>
            </div>
            <div class="btn-group d-flex flex-row flex-wrap pt-2 pb-1 ml-3">
                <div dropdown class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="alertDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedAlert | titlecase }}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="alertDropdown">
                        <div *ngFor="let alert of availableAlerts">
                            <button class="dropdown-item" type="button"
                                (click)="selectAlert(alert)">{{ alert | titlecase }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div id="lineContainer" class="chart-container"></div>
                    <!-- <app-line-chart></app-line-chart> -->
                </div>
            </div>
        </div>
    </div>
</div>
