<div class="line-chart-widget">
    <div class="card-container">
        <div class="card">
            <h3 class="card-title">
                Covid-19 Rates by Location
            </h3>
            <div class="btn-group">
                <div>
                    <p-multiSelect [options]="availableLocations" [(ngModel)]="selectedLocations" [dropdownIcon]="'pi pi-caret-down'"
                        (onPanelHide)="hidePanel()" [filter]="true" [defaultLabel]="'Select Countries'"
                        [maxSelectedLabels]="2"></p-multiSelect>
                </div>
                <!-- <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="locationDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedLocation }}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="locationDropdown">
                        <div *ngFor="let loc of locations">
                            <button class="dropdown-item" type="button" (click)="selectLocation(loc)">{{ loc }}</button>
                        </div>
                    </div>
                </div> -->
                <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="numDaysDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedNumDays }}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="numDaysDropdown">
                        <div *ngFor="let day of numDaysAvailable">
                            <button class="dropdown-item" type="button" (click)="selectNumDays(day)">{{ day }}</button>
                        </div>
                    </div>
                </div>
                <div dropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="metricDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedMetric }}
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="metricDropdown">
                        <div *ngFor="let metric of metrics">
                            <button class="dropdown-item" type="button"
                                (click)="selectMetric(metric)">{{ metric }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    
                    <div id="lineContainer" class="chart-container"></div>
                    <!-- <app-line-chart></app-line-chart> -->
                </div>
            </div>
        </div>
    </div>
</div>