div.bar-chart-widget {
    .card-container {
        margin: 2em;
      }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
        .card-title {
            margin: .5em .5em 0 .5em;
            padding-bottom: .125em;
        }

        .card-body {
            margin: .125em 1em 0 1em;
            border-top: 1px solid lightgray;
        }

        .ui-dropdown {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 .5em .5em 0;
            border-radius: 0;
            background: #6c757d;
            &:hover {
                background: #545b62;
            }

            .ui-dropdown-label {
                color: #fff;
                padding: 0.5rem 2em 0.5rem 0.75rem;
                background: transparent;
                font-size: 16px;
            }

            .ui-dropdown-trigger {
                background: transparent;
            }

            .ui-dropdown-trigger-icon {
                color: #fff;
            }

            .ui-dropdown-items {
                width: 18em;
            }

            .pi {
                font-size: 0.75em;
            }
        }

        div.dropdown {
            margin: 0 .5em .5em 0;
            padding-bottom: .5em;

            .btn {
                padding: 0.5em 0.75rem;
                border-radius: 0px;
            }
            .dropdown-menu {
                max-height: 200px;
                overflow-y: auto;
            }
            .dropdown-item {
                padding: 0.125rem 1.5rem;
            }
        }
    }
}
