<div class="line-chart-widget">
    <div class="card-container">
        <div class="card">
            <h3 class="card-title">
                Covid-19 Metrics Map
            </h3>
            <div class="card-body">
                <div class="choropleth-map">
                    <div class="row">
                        <div class="col">
                            <div id="mapContainer1" class="map-container"></div>
                        </div>
                        <div class="col">
                            <div id="mapContainer2" class="map-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>